								#skills {
									padding: 20px;
									background-color: #fff;
									border-radius: 8px;
									margin-top: 20px;
								}
						
								.major {
									font-size: 2em;
									color: #ffffff;
									margin-bottom: 20px;
									text-align: center;
								}
						
								.skills-container {
									display: flex;
									flex-wrap: wrap;
									gap: 20px;
								}
						
								.skills-section {
									flex: 1;
									min-width: 220px;
									padding: 15px;
									background-color: #f4f4f4;
									border-radius: 8px;
									box-shadow: 0 2px 4px rgba(0,0,0,0.001);
									margin-bottom: 20px;
								}
						
								.skills-section h3 {
									font-size: 1.4em;
									margin-bottom: 15px;
									color: #000000;
									text-align: center;
								}
						
								.skill-item {
									display: flex;
									align-items: center;
									margin-bottom: 10px;
								}
						
								.skill-logo {
									width: 40px;
									height: 40px;
									margin-right: 10px;
								}
						
								.skill-item p {
									font-size: 1em;
									color: #555;
								}
						
								.image.main img {
									width: 100%;
									border-radius: 8px;
								}


								.is-visible {
									display: block; /* or any style that makes the element visible */
								}
								
								.is-hidden {
									display: none; /* or any style that hides the element */
								}
								